@CHARSET "UTF-8";

body {
	  transition: all 1s ease;
  	  background-color: #2d2f33;
  	  font-family: Lucida Grande;
}

#title {
	position:relative;
	top: 3.1em;
	left:50%;
	margin-left: -4.5em;
	font-size: 45px;
	text-align: center;
	color: white;
	font-family: Lucida Grande;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 40px;
	width: 9em;
}

#instructions {
	position: relative;
	top: 9.1em;
	left:50%;
	margin-left: -9em;
	font-size: 17px;
	text-align: center;
	color: white;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 20px;
	width: 18em;	
}

#clarify {
	position: relative;
	top: 17.5em;
	left:50%;
	margin-left: -7.5em;
	font-size: 12px;
	text-align: center;
	color: white;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 25px;
	width: 15em;
}

#inputs {
    position: relative;
    top: 12.2em;
    left: 50%;
    width: 30em;
    height: 4em;
    margin: 0 auto;
    margin-top: -2em; 
    margin-left: -13.2em; 	
}

.copyright {
	position: absolute;
	bottom: 5px;
	left:50%;
	margin-left:-7.5em;
	font-size: 9px;
	text-align: center;
	color: white;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 11px;
	width: 15em;	
	overflow:hidden
}

a {
	color: white;
}

input[type=text]:focus {
	outline:0;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

Button.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

button {
    position: relative;
    top: 18em;
    width: 30em;
    background-color: Transparent;
    color: white;
    padding: 14px 20px;
    margin-left: auto;
    margin-right: auto;	
    margin: 0 -15em;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
	transition: all .2s ease;
    box-shadow:  0 0 0 3px white;
}

label { 
	width: 200px; 
	float: left; 
	margin: 0 20px 0 0; 
}

span { 
	display: block; 
	margin: 0 0 3px; 
	font-size: 1.2em; 
	font-weight: bold; 
}

.icon {
	height:35px;
	width:35px;
	color: white;
}

.icon:hover {
	transition: all .2s ease;
	opacity: 0.7;
}

#horizontal {
	padding: 5px;
}

#horizontal ul {
	position: absolute;
	left: 50%;
	bottom: 1px;
	margin-left: -75px;
	width:150px;
	padding: 0;
	list-style-type: none;
}

#horizontal ul li { 
	display: inline; 
} 













.center-title-image {
	display: block;
    margin: auto;

}


.header-text {
	position:relative;
	left:50%;
	margin-left: -4.5em;
	font-size: 45px;
	text-align: center;
	color: white;
	font-family: Lucida Grande;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 40px;
	width: 9em;
}
.subheadingtext {
	position: relative;
	left:50%;
	top: 20%;
	margin-left: -20em;
	font-size: 17px;
	text-align: center;
	color: white;
	font-family: Lucida Grande;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 20px;
	width: 40em;	
}

.header-text-nonindex {
	position:relative;
	left:50%;
	top: .2em;
	margin-left: -4.5em;
	margin-bottom: 2em;
	font-size: 45px;
	text-align: center;
	color: white;
	font-family: Lucida Grande;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 40px;
	width: 9em;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}



.wrapper {
	width: wrap;
    border: 1px solid transparent;
    overflow: hidden; /* will contain if #first is longer than #second */
	margin-bottom:4em;
}
.wrapperbottom {
	width: wrap;
    border: 1px solid transparent;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.buffer1 {
	width:15%;
	float:left;
	border: 1px solid transparent;
}

.first {
	width:40%;
	float:left;
    border: 1px solid transparent;
	align-content:center;
}

.bufferMid {
	width:10%;
	float:left;
	border: 1px solid transparent;
}

.second {
	width:40%;
	float: left;
    border: 1px solid transparent;
}
.buffer2 {
	width:10%;
	float: left;
    border: 1px solid transparent;
    overflow: hidden; 
}

.bufferL {
	width:30%;
	float:left;
	border: 1px solid transparent;
}
.bufferM {
	width:40%;
	float:left;
	border: 1px solid transparent;
	font-size: 10px;
	text-align: center;
	color: white;
	font-family: Lucida Grande;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
}

.name-title {
	margin-top:2.6em;
	font-size: 25px;
	text-align: left;
	color: white;
	font-family: Lucida Grande;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 40px;
}

.title-info {
	font-size: 14px;
	text-align: left;
	color: white;
	font-family: Lucida Grande;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 24px;
}

.name-title-section {
	font-size: 20px;
	text-align: left;
	color: white;
	font-family: Lucida Grande;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 40px;
}

.title-info-section {
	font-size: 14px;
	text-align: left;
	color: white;
	font-family: Lucida Grande;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.name-image {
	margin-top: 2em;
	display: block;
    margin: 0 auto;
}

.project-info {
	margin-left:10%;
	width:80%;
	text-align:left;
	font-size: 20px;
	color: white;
	font-family: Lucida Grande;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
